<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }} - FlaskTwitter</title>
	{% else %}
	<title>FlaskTwitter</title>
	{% endif %}

	<!--JQuery-->
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.structure.min.css">
	<script src="../static/js/jquery-ui.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="../static/js/bootstrap.min.js"></script>

	<!--Style-->
	<link rel="stylesheet" type="text/css" href="../static/css/navbar.css">

	{% block head %}{% endblock %}

	<link rel="shortcut icon" href="../static/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="{{ url_for('newsfeed') }}"><img src="../static/img/cherryBlossomIconCircle.png" id="brandIcon" class="img-circle navbar-brand"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('newsfeed') }}">Home</a></li>
				<li><a href="{{ url_for('profile', username=user.username) }}">Profile</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
			<form class="navbar-form navbar-right" action="" method="post" name="search" id="searchfield">
				{{ searchForm.hidden_tag() }}
				{{ searchForm.username(size=20, class="form-control", id="searchBar", placeholder="Search User")}}
			</form>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>