{% extends "baseLoggedIn.html" %}
{% block head %}
	<!--Style-->
	<link rel="stylesheet" type="text/css" href="../static/css/profile.css">

	<!--JS-->
	<script src="../static/js/comment.js" async></script>
	<script src="../static/js/searchBar.js"></script>
{% endblock %}

{% block content %}
	<div class="container col-md-4 col-md-offset-4" id="profileContainer">
		<div class="row" id="profileRow">
			<span class="col-md-4"><img class="img-responsive profileImg" src="{{ user.gravatar(size=120) }}"></span>
			<span class="col-md-8 testSpan" id="profileName">{{ user.fName }} {{ user.lName }}</span>
			<span class="col-md-8 infoSpan" id="profileUser">@{{ user.username }}</span>
			<span class="col-md-8 infoSpan">Tweets - <span id="numInfo">{{ numTweets }}</span></span>
			<span class="col-md-8 infoSpan">Followers - <span id="numInfo">{{ followed }}</span></span>
			<span class="col-md-8 infoSpan">Following - <span id="numInfo">{{ followed }}</span></span>
		</div>
		<div class="row text-center" id="followRow">
			<span class="col-md-4 infoSpan">
				{% if user == currUser %}
					<a class="btn btn-default" href="#">Change Avatar</a>
				{% elif canFollow == True %}
					<a class="btn btn-default" href="{{ url_for('follow', username=user.username) }}">Follow</a>
				{% else %}
					<a class="btn btn-default" href="{{ url_for('unfollow', username=user.username) }}">UnFollow</a>
				{% endif %}
			</span>
		</div>
	</div>

	<div class="container col-md-6 col-md-offset-3" id="bigContainer">
	{% if not tweets %}
		<div class="FTWrapper row lastWrapper noHover" id="noPostsHere">
			<div class="row">
				<span class="col-md-12 centerText">
				{% if user == currUser %}
					<h4>No posts to display. Try making one!</h4>
				{% else %}
					<h4>This user has no posts to display!</h4>
				{% endif %}
				</span>
			</div>
		</div>
	{% else %}
		{% for tweet in tweets %}
			{% if ((tweet == lastTweet) and (tweet == firstTweet))  %}
				<div class="FTWrapper row firstWrapper lastWrapper" data-toggle="modal" data-target="#{{ 'Modal' ~ loop.index }}">
			{% elif tweet == firstTweet %}
				<div class="FTWrapper row firstWrapper" data-toggle="modal" data-target="#{{ 'Modal' ~ loop.index }}">
			{% elif tweet == lastTweet %}
				<div class="FTWrapper row lastWrapper" data-toggle="modal" data-target="#{{ 'Modal' ~ loop.index }}">
			{% else %}
				<div class="FTWrapper row" data-toggle="modal" data-target="#{{ 'Modal' ~ loop.index }}">
			{% endif %}
					<div class="row">
						<span class="col-md-1 testImgContainer"><img class="img-responsive testImg" src="{{ tweet.author.gravatar(size=100) }}"></span>
						<span class="col-md-11">
							<span class="col-md-11"><a class="nickname" href="{{ url_for('profile', username=tweet.author.username) }}"><span>{{ tweet.author.fName }} {{ tweet.author.lName }}</span></a><span class="timestamp"> - @{{ tweet.author.username }}: {{ tweet.timestamp }}</span></span>
							<span class="col-md-11">{{ tweet.body }}</span>
							<span class="col-md-11 heartRow">
								<!-- <span><button type="button" class="btn btn-clear"><span class="glyphicon glyphicon-heart-empty"></span></button></span> -->
								<span id="commentButtonSpan"><button type="button" class="btn btn-clear"><span class="glyphicon glyphicon-comment"></span></button></span>
							</span>
						</span>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="{{ 'Modal' ~ loop.index}}" role="dialog">
					<div class="modal-dialog">

					<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="col-md-10 modal-title"><span id="modalNickname"> {{ tweet.author.fName }} {{ tweet.author.lName }}</span><span class="timestamp" id="modalTimestamp"> - @{{ tweet.author.username }}: {{ tweet.timestamp }}</span></h4>
							</div>
							<div class="modal-body">
								<div class="row modalrow" id="bodyRow">
									<span class="col-md-2 testImgContainer"><img class="img-responsive testImg" src="{{ tweet.author.gravatar(size=100) }}"></span>
									<span class="col-md-10"><h4 id="modalTweet">{{ tweet.body }}</h4></span>
								</div>
								{% for comment in tweet.comments|sort(attribute='timestamp', reverse=False) %}
									<div class="row commentRow">
										<span class="col-md-1 testImgContainer"><img class="img-responsive testImg" src="{{ comment.author.gravatar(size=100) }}"></span>
										<span class="col-md-11"><a href="{{ url_for('profile', username=comment.author.username) }}"><a class="nickname" href="{{ url_for('profile', username=comment.author.username) }}"><span>{{ comment.author.fName }} {{ comment.author.lName }}</span></a><span class="timestamp"> - @{{ comment.author.username }} : {{ comment.timestamp }}</span></span>
										<span class="col-md-11"><p id="modalTweet">{{ comment.body }}</p></span>
									</div>
								{% endfor %}
							</div>
							<div class="modal-footer">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}